.input-text {
  outline: none;
  height: 40px;
  border: none;
  text-align: center;
  color: snow;
  font-size: 40px;
  font-weight: bold;
  background: transparent;
  display: block;
}
.keypad-container {
  margin: 10px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  
}
.btn-submit {
  width: 180px;
  padding: 6px 0;
  color: snow;
  font-size: 25px;
  background-color: transparent;
  border: 1px solid snow;
  border-radius: 20px;
  cursor: pointer;
  justify-content: center;
  font-weight: bold;
}
.btn-submit:hover {
  background-color: snow;
  color: #2bbed3;
  opacity: 1;
  transition: all 200ms ease-in;
}
.disabled {
	color:rgb(83, 164, 179);
	pointer-events: none;
}